<section class="servicio">
  <main>
    <h2>SERVICIOS</h2>
    <article>
      <div>
        <img src="../../../assets/images/cycle.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris.Lobortis orci egestas
          habitasse at.Sed massa est sempe
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at

        </p>
      </div>
      <div>
        <img src="../../../assets/images/packages.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas
          habitasse at. Sed massa est sempe
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div>
        <img src="../../../assets/images/truck.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas
          habitasse at. Sed massa est sempe
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputat
        </p>
      </div>
    </article>
    <button [routerLink]="['/service1']">Ver más</button>
  </main>
</section>
