
<h2>CLIENTES</h2>
<section class="customers">
    <article>
        <div>
            <img src="../../../../assets/images/EcoFresh.svg" alt="Ecofresh">
            <p>Ecofresh</p>
        </div>
        <div>
            <img src="../../../../assets/images/FootPack.svg" alt="Foot Pack">
            <p>Foot Pack</p>
        </div>
        <div>
            <img src="../../../../assets/images/Salas.svg" alt="Palindromo">
            <p>Palindromo</p>
        </div>
        
    </article>
    <article>
        
        <div>
            <img src="../../../../assets/images/PrintWare.svg" alt="Printware">
            <p>Printware</p>
        </div>
        <div>
            <img src="../../../../assets/images/VG.svg" alt="Negociaciones Valle Green">
            <p>Negociaciones Valle Green</p>
        </div>

    </article>
  </section>