<section class="fleet">
  <main>
    <img src="../../../assets/images/fleet.svg" alt="">
    <h1>FLOTA</h1>
  </main>
</section>
<section class="content--fleet">
  <main>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas habitasse at. Sed massa est semper vitae id odio nunc. Id mattis in pharetra quisque. Viverra consequat arcu non consectetur massa pretium, aliquam libero ut. Posuere dui at viverra suspendisse eget. Purus nec ultrices molestie egestas habitasse sit. Malesuada amet et nisl placerat vel eget tempor risus ut. Et lectus molestie in dictum sit.
Diam varius scelerisque nunc libero. Egestas proin odio nibh amet tellus. Pulvinar viverra vitae magna vitae est. Nam nec accumsan in lorem.</p>
<img src="../../../assets/images/truck2.svg" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas habitasse at. Sed massa est semper vitae id odio nunc. Id mattis in pharetra quisque. Viverra consequat arcu non consectetur massa pretium, aliquam libero ut. Posuere dui at viverra suspendisse eget. Purus nec ultrices molestie egestas habitasse sit. Malesuada amet et nisl placerat vel eget tempor risus ut. Et lectus molestie in dictum sit.
Diam varius scelerisque nunc libero. Egestas proin odio nibh amet tellus. Pulvinar viverra vitae magna vitae est. Nam nec accumsan in lorem.</p>
  </main>
</section>
