<section class="tracking">
  <main>
    <img src="../../../assets/images/track.svg" alt="">
    <h1>TRACKING</h1>
  </main>
</section>
<section class="content--tracking">
  <main>
    <div class="n-tracking">
      <h3> <span>NUMERO DE TRACKING</span>

      </h3>
      <input type="text">
      <p>Corresponde al número de seguimiento que desea consultar</p>
    </div>
    <div class="fecha">
      <h3><span>FECHA DE EMISION</span></h3>
      <input type="text">
      <p>Corresponde a la fecha de creación del tracking que desea consultar</p>
    </div>
  </main>
  <button>Consultar</button>
</section>
