<section class="contact">
  <main>
    <img src="../../../assets/images/contact.svg" alt="">
    <h1>CONTACTO</h1>
  </main>
</section>
<section class="content--contact">
  <main>

    <form>
      <label for=""><p>Nombres y apellidos</p></label> <br>
      <input type="text"> <br>
      <label for=""><p>Correo Electronico</p></label> <br>
      <input type="text"> <br>
      <label for=""><p>Numero de telefono</p></label> <br>
      <input type="text"> <br>
      <label for=""><p>Mensaje</p></label> <br>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button type="submit">Consultar</button>

    </form>

  </main>

</section>
