<h2>FLOTA</h2>
<section class="flota">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam amet, hac aliquet laoreet iaculis nullam ac fringilla laoreet. Amet velit elit turpis proin. Tellus purus vitae at accumsan commodo, netus a. Iaculis ut sapien, non et eget. Amet a commodo ac risus orci. Viverra semper cras id fermentum. Faucibus eget eget eu dignissim nulla ultricies ut mattis. Feugiat odio tincidunt vitae, lorem nec feugiat. Vestibulum mi a felis faucibus sed. Elementum sagittis lectus interdum dignissim adipiscing ornare sed. Diam vestibulum.</p>
    <img src="../../../../assets/images/truckss.svg" alt="">
  
    <button [routerLink]="['/fleet']">
      Ver más
    </button>
  
  </section>