<section class="about">
  <main>
    <img src="../../../assets/images/global.svg" alt="" />
    <h1>NOSOTROS</h1>
  </main>
</section>
<section class="content--about">
  <main>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil veniam
      nobis molestiae? Voluptates officia eveniet sapiente nulla in, porro vero
      corporis, numquam quam a totam itaque sunt ullam sed animi! Cumque non,
      blanditiis excepturi hic totam amet quis nisi reiciendis aliquid ex natus
      repellendus sint facere facilis provident iste exercitationem. Porro
      provident nobis saepe quis fugit molestias officia enim architecto! Quo
      sequi numquam praesentium cum illum? Quisquam, eos! Beatae aspernatur
      nesciunt nobis autem? Repudiandae reiciendis cumque eum. Magni distinctio
      ullam, autem, maxime labore magnam provident eveniet perferendis minima
      saepe facere? Illum expedita optio impedit harum magnam perferendis quos
      omnis aut asperiores. Asperiores pariatur distinctio quod suscipit atque
      assumenda voluptate necessitatibus accusamus, eum non, eveniet, quas earum
      rerum nulla! Consectetur, recusandae?
    </p>

    <h2>MISION</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil veniam
      nobis molestiae? Voluptates officia eveniet sapiente nulla in, porro vero
      corporis, numquam quam a totam itaque sunt ullam sed animi! Cumque non,
      blanditiis excepturi hic totam amet quis nisi reiciendis aliquid ex natus
      repellendus sint facere facilis provident iste exercitationem. Porro
      provident nobis saepe quis fugit molestias officia enim architecto! Quo
      sequi numquam praesentium cum illum? Quisquam, eos! Beatae aspernatur
      nesciunt nobis autem? Repudiandae reiciendis cumque eum. Magni distinctio
      ullam, autem, maxime labore magnam provident eveniet perferendis minima
      saepe facere? Illum expedita optio impedit harum magnam perferendis quos
      omnis aut asperiores. Asperiores pariatur distinctio quod suscipit atque
      assumenda voluptate necessitatibus accusamus, eum non, eveniet, quas earum
      rerum nulla! Consectetur, recusandae?
    </p>
    <h2>VISION</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil veniam
      nobis molestiae? Voluptates officia eveniet sapiente nulla in, porro vero
      corporis, numquam quam a totam itaque sunt ullam sed animi! Cumque non,
      blanditiis excepturi hic totam amet quis nisi reiciendis aliquid ex natus
      repellendus sint facere facilis provident iste exercitationem. Porro
      provident nobis saepe quis fugit molestias officia enim architecto! Quo
      sequi numquam praesentium cum illum? Quisquam, eos! Beatae aspernatur
      nesciunt nobis autem? Repudiandae reiciendis cumque eum. Magni distinctio
      ullam, autem, maxime labore magnam provident eveniet perferendis minima
      saepe facere? Illum expedita optio impedit harum magnam perferendis quos
      omnis aut asperiores. Asperiores pariatur distinctio quod suscipit atque
      assumenda voluptate necessitatibus accusamus, eum non, eveniet, quas earum
      rerum nulla! Consectetur, recusandae?
    </p>
  </main>
</section>
