.about{
  margin-top: -10rem;
  background-image: url(../../../assets/images/about.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  overflow: hidden;
  main{
    height: 100rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);
  padding-top: 18rem;
  text-align: center;
   img{
      position: relative;
    }
    h1{
      margin-top: 2rem;
      position: relative;
      font-size:3rem;
      font-weight: bolder;
      color: white;
    }
  }
  main::before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(146, 146, 146, 0.3);
}
}
.content--about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:  rgba(254, 239, 232, 0.9);
  main{
    width: 60%;
    h2{
      font-size: 2.5rem;
    }
    P{
      margin: 7rem 0;
    }
  }
}


