<section class="servicio1">
  <main>
    <img src="../../../../assets/images/service1.svg" alt="">
    <h1>SERVICIO 1</h1>
  </main>
</section>
<section class="content--servicio1">
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A reprehenderit explicabo ut facilis ea. Quibusdam, illum necessitatibus illo accusantium quas et quidem delectus fuga ut asperiores porro, id autem nemo.
      Commodi aliquam accusantium illo facere ut! Nisi inventore ducimus labore debitis commodi, dolores nam possimus ea, officia consequatur assumenda? Aliquid quos ipsam magni? Quasi sint tempore consequuntur, veniam aspernatur placeat?
      Repellat ratione optio veritatis delectus deleniti, ad a rem similique corporis perferendis voluptatibus laboriosam ea culpa nobis, id quas nemo eligendi maxime accusantium dolorum aperiam praesentium dolore nostrum? Ratione, illum?
      Id illum dolor, aperiam culpa non dolore asperiores accusantium earum incidunt! Aut laborum nostrum mollitia illo magnam quibusdam, aspernatur consequuntur? Consequuntur architecto blanditiis fugit doloremque maiores molestiae nobis laborum dolorum.
      Quam animi autem delectus magni iste ipsa sed aliquam reprehenderit nam. Dolorem, ducimus officia odio quam eos quod assumenda autem error, placeat illo quas impedit porro eaque doloremque recusandae. Iusto.
    </p>
  </main>
</section>
