<section class="banner">
  <div class="banner--content">
    <div></div>
    <div class="banner--info">
      <article>
        <h2>Lorem ipsum pes</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam unde
          doloribus accusamus suscipit ipsam eligendi sequi cum est? Assumenda
          tempore labore voluptatibus dicta nemo eligendi autem ratione iure
          quisquam at.
        </p>
      </article>
    </div>
  </div>
</section>
<section class="nosotros">
  <article>
    <h2>NOSOTROS</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nisi
      corrupti tenetur maiores porro eligendi molestiae molestias architecto
      temporibus eaque voluptate similique vitae. Consectetur dolorem, officia
      delectus modi quod voluptatibus? Id nobis quod ea, delectus aperiam
      similique perferendis cum nemo voluptates doloribus hic suscipit,
      architecto, ratione deserunt veritatis quaerat incidunt illum <br />
      reprehenderit praesentium consectetur atque accusamus ipsum aliquam!
      Veniam, officia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <br />
      <br />
      Ea possimus eligendi fugiat, esse odio magni! Iure corrupti ipsa, quae in
      odit deserunt quod vitae quis nisi explicabo similique corporis sapiente!
    </p>
    <button>Ver mas</button>
  </article>
  <div>
    <img src="../../../assets/images/camion.svg" alt="" />
  </div>
</section>
<section class="servicio">
  <main>
    <h2>SERVICIOS</h2>
    <article>
      <div>
        <img src="../../../assets/images/cycle.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris.Lobortis orci egestas
          habitasse at.Sed massa est sempe
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas
          habitasse at. Sed massa est sempe
        </p>
      </div>
      <div>
        <img src="../../../assets/images/packages.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas
          habitasse at. Sed massa est sempe
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas
          habitasse at. Sed massa est sempe
        </p>
      </div>
      <div>
        <img src="../../../assets/images/truck.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas
          habitasse at. Sed massa est sempe
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet at
          vulputate in sem. Nunc eu tellus vivamus mauris. Lobortis orci egestas
          habitasse at. Sed massa est sempe
        </p>
      </div>
    </article>
    <button>Ver más</button>
  </main>
</section>

<section class="clientes">
  <div>
    <h3>5</h3>
    <p>años</p>
  </div>
  <div class="clientes--midle">
    <h3>164</h3>
    <p>clientes</p>
  </div>
  <div>
    <h3>3559</h3>
    <p>Entregas</p>
  </div>
</section>

<section class="flota">
  <h2>FLOTA</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam amet, hac aliquet laoreet iaculis nullam ac fringilla laoreet. Amet velit elit turpis proin. Tellus purus vitae at accumsan commodo, netus a. Iaculis ut sapien, non et eget. Amet a commodo ac risus orci. Viverra semper cras id fermentum. Faucibus eget eget eu dignissim nulla ultricies ut mattis. Feugiat odio tincidunt vitae, lorem nec feugiat. Vestibulum mi a felis faucibus sed. Elementum sagittis lectus interdum dignissim adipiscing ornare sed. Diam vestibulum.</p>
  <img src="../../../assets/images/truckss.svg" alt="">

  <button>
    Ver más
  </button>

</section>
