<section class="banner">
  <div class="banner--content">
    <div></div>
    <div class="banner--info">
      <article>
        <h2>Lorem ipsum pes</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam unde
          doloribus accusamus suscipit ipsam eligendi sequi cum est? Assumenda
          tempore labore voluptatibus dicta nemo eligendi autem ratione iure
          quisquam at.
        </p>
      </article>
    </div>
  </div>
</section>
<section class="nosotros">
  <article>
    <h2>NOSOTROS</h2>
    <p>
     Somos <strong>CF Operador Logístico EIRL</strong>, una empresa 100% peruana, la misma que se dedica al transporte y distribución local y nacional en Perú, siendo este un servicio de calidad y garantía. <br>
      Uno de nuestros propósitos fundamentales es el poder otorgar a nuestros clientes las mejores alternativas de calidad en el servicio brindado. <br>
      Venimos en la actualidad, implementando y fortaleciendo nuestros servicios donde la garantía de este, es la preponderancia por desarrollar y crecer en este rubro, tomando en cuenta la eficiencia y eficacia en el trabajo que se realiza. <br>
      Deseosos de establecer un vínculo comercial, nuestra empresa desplegará todos sus esfuerzos por cumplir vuestras expectativas y así poder elevar la calidad del servicio.

    </p>

    <button [routerLink]="['/about']">Ver mas</button>
  </article>
  <div>
    <img src="../../../assets/images/camion.svg" alt="" />
  </div>
</section>
<app-home-service></app-home-service>
<section class="clientes">
  <div>
    <h3>5</h3>
    <p>años</p>
  </div>
  <div class="clientes--midle">
    <h3>164</h3>
    <p>clientes</p>
  </div>
  <div>
    <h3>3559</h3>
    <p>Entregas</p>
  </div>
</section>

<section class="flota">
  <h2>FLOTA</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam amet, hac aliquet laoreet iaculis nullam ac fringilla laoreet. Amet velit elit turpis proin. Tellus purus vitae at accumsan commodo, netus a. Iaculis ut sapien, non et eget. Amet a commodo ac risus orci. Viverra semper cras id fermentum. Faucibus eget eget eu dignissim nulla ultricies ut mattis. Feugiat odio tincidunt vitae, lorem nec feugiat. Vestibulum mi a felis faucibus sed. Elementum sagittis lectus interdum dignissim adipiscing ornare sed. Diam vestibulum.</p>
  <img src="../../../assets/images/truckss.svg" alt="">

  <button [routerLink]="['/fleet']">
    Ver más
  </button>

</section>
