

.nosotros{
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #FD940454 10%, #C54D00A1 95%);
  padding: 9rem 10rem;
  article{
    margin-top: 2rem;
    width: 40rem;
    margin-right: 9rem;
    h2{
      text-align: center;
      font-size: 3.6rem;
      margin-bottom: 3rem;
    }
    p{
      font-size: 1.2rem;
    }
    button{
      margin-top: 3.5rem;
      border-radius: 0.5rem;
      width: 8rem;
      height:3rem;
      border: 3px solid #83520e;
      font-size: 1.3rem;
      background: transparent;
      cursor: pointer;
      transition: 300ms all;
    }
    button:hover{
      color: #b47319;
      border:3px solid #db8710;
    }
  }
  img{
    margin-left: -11rem;
  }
}


.clientes{
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg,#c26315 15%, #982D00 50%);

  div{
    color: white;
    padding: 2.5rem 0;
    text-align: center;
    h3{
      font-size: 6rem;
    }
    p{
      font-size: 2rem;
    }

  }
  .clientes--midle{
    margin: 0 6rem;
  }
}

@media screen and (min-width:1400px) {
  .nosotros{
    img{
      margin-left: -7rem;
    }
  }

  .flota{
    img{
      width:70rem
    }
  }
}

@media screen and (max-width:860px){
  .nosotros{
    padding: 2rem 5rem;
    article{
      margin-right: 0;
      text-align: center;
      h2{
        font-size: 2.4rem;
      }
      p{
        font-size: 1rem;
      }
    }
    img{
      display: none;
    }
    button{
      font-size: 1.1rem;
    }
  }
  .clientes{
    div{
      h3{
        font-size: 4rem;
      }
      p{
        font-size: 1.5rem;
      }
    }
      .clientes--midle{
    margin: 0 3rem;
  }
  }
  .flota{
  padding: 5rem 0;
  h2{
     font-size: 2.3rem;
  }
  p{
     width: 80%;
     font-size: 0.9rem;
  }
  img{
    width: 100%;
  }
  }
}

@media screen and (max-width:500px){
  .nosotros{
    padding: 2rem 2rem;
    article{
      p{
        font-size: 0.93rem;
      }
    }
  }
  .clientes{
    div{
      h3{
        font-size: 3rem;
      }
      p{
        font-size: 0.95rem;
      }
    }
      .clientes--midle{
    margin: 0 3rem;
  }
  }
}
