<section class="servicio2">
  <main>
   <img src="../../../../assets/images/service2.svg" alt="">
    <h1>SERVICIO 2</h1>
  </main>
</section>
<section class="content--servicio2">
  <main>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam eius aspernatur voluptatum. Suscipit consectetur tempora cupiditate, reiciendis itaque illo saepe harum eaque. Eligendi similique molestiae soluta repudiandae commodi, quis ipsam!
    Alias, dignissimos praesentium cupiditate dolores corporis illo dolore earum nemo deleniti nihil similique error quasi. Ea commodi neque sint animi, similique, dicta enim deleniti voluptas, illo culpa architecto veritatis quae?
    Soluta necessitatibus quasi deleniti eos vero delectus architecto minus unde ratione tempora, dolore minima quas ea at pariatur quisquam saepe? Aut expedita distinctio rem nobis quae, voluptas autem officiis repellendus.
    Optio nesciunt necessitatibus eos ipsum consequuntur, minima aperiam ea? Nulla dignissimos fuga facere eveniet! Excepturi qui odio laboriosam quaerat sunt voluptatibus pariatur autem repellat inventore voluptatum temporibus, consectetur dolorum illo!
    Id doloribus accusantium inventore ducimus consectetur odio? Sapiente quaerat facilis non, eveniet excepturi quo illo beatae nisi similique deleniti vitae tempora, quasi, voluptate harum quod ipsam soluta dicta veritatis alias?</p>
  </main>
</section>
