<footer>
  <article class="contact">
    <h2>Contáctanos</h2>
    <main>
        <div class="item">
          <div class="img"> <img src="../../../assets/images/llamada.svg" alt=""> </div>
          <p>(+51) 980 692 278</p>
          <p>(+51) 989 303 946</p>
        </div>
        <div class="item">
          <div class="img"> <img src="../../../assets/images/location.svg" alt=""> </div>
          <p>Av.santa rosa 336 </p>
          <p>Urb.La Aurora Ate Vitarte</p>
        </div>
        <div class="item">
          <div class="img"> <img src="../../../assets/images/mail.svg" alt=""> </div>
          <p>Operaciones@cfo.com.pe</p>
          <p>javila@cfo.com.pe</p>
        </div>
    </main>
  </article>
  <div class="logo--footer">
    <img src="../../../assets/images/footer-logo.svg" alt="">
  </div>
</footer>
