<section class="banner">
    <div class="banner--content">
      <div></div>
      <div class="banner--info">
        <article>
          <h2>Lorem ipsum pes</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam unde
            doloribus accusamus suscipit ipsam eligendi sequi cum est? Assumenda
            tempore labore voluptatibus dicta nemo eligendi autem ratione iure
            quisquam at.
          </p>
        </article>
      </div>
    </div>
  </section>